<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.tender.mapper.BadStatusMapper">
    <resultMap id="BaseResultMap" type="com.bid.tender.model.BadStatus">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bad_id" property="badId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="tender_id" property="tenderId" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="QueryResultMap" type="com.bid.tender.model.result.BadStatusVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bad_id" property="badId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="tender_id" property="tenderId" jdbcType="VARCHAR"/>
        <result column="tenderTitle" property="tenderTitle" jdbcType="VARCHAR"/>
        <result column="tenderContent" property="tenderContent" jdbcType="VARCHAR"/>
        <result column="badContent" property="badContent" jdbcType="VARCHAR"/>
        <result column="noticeStatus" property="noticeStatus" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bad_id, status,user_id,tender_id,comment, create_time, update_time
  </sql>
    <select id="findPageCondition" resultMap="QueryResultMap">
        select
        b.id, b.bad_id, b.status, b.user_id, b.tender_id, b.comment, b.create_time, b.update_time,
        t.content as tenderContent,n.title as tenderTitle,n.content as badContent,n.status as noticeStatus
        from b_bad_status b, b_tender t,b_notice n
        <where>
            b.tender_id = t.id
            and t.bad_id = n.id
            <if test="condition.userId != null">
                and b.user_id ='${condition.userId}'
            </if>
        </where>
    </select>
    <select id="findByBadIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_bad_status
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="tenderId != null and tenderId != ''">
                and tender_id = #{tenderId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>