<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bid.sys.mapper.SysDictMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysDict">
        <id column="dict_id" jdbcType="VARCHAR" property="dictId"/>
        <result column="dict_pid" jdbcType="VARCHAR" property="dictPid"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="dict_code" jdbcType="VARCHAR" property="dictCode"/>
        <result column="dict_name" jdbcType="VARCHAR" property="dictName"/>
        <result column="dict_flag" jdbcType="VARCHAR" property="dictFlag"/>
        <result column="dict_seq" jdbcType="INTEGER" property="dictSeq"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <resultMap id="sysDictVoResultMap" type="com.bid.sys.model.result.SysDictVo" extends="BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
      dict_id, dict_pid, dict_type, dict_code, dict_name, dict_flag, dict_seq, description
    </sql>

    <!--查找全部-->
    <select id="findDicAlltVo" resultMap="sysDictVoResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dict
        <if test="dictType != null and dictType != ''">
            WHERE dict_type = #{dictType, jdbcType=VARCHAR}
        </if>
        order by dict_seq
    </select>

    <!--通过条件查询-->
    <select id="findByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dict
        <where>
            <if test="condition.dictType != null">
                AND dict_type = #{condition.dictType, jdbcType=VARCHAR}
            </if>
            <if test="condition.dictCode != null">
                AND dict_code = #{condition.dictCode, jdbcType=VARCHAR}
            </if>
        </where>
        order by dict_seq
    </select>

</mapper>