<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.sys.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysLog">
        <id column="log_id" property="logId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="log_type" property="logType" jdbcType="VARCHAR"/>
        <result column="log_flag" property="logFlag" jdbcType="VARCHAR"/>
        <result column="operate_code" property="operateCode" jdbcType="VARCHAR"/>
        <result column="request_param" property="requestParam" jdbcType="VARCHAR"/>
        <result column="execute_time" property="executeTime" jdbcType="BIGINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="mac" property="mac" jdbcType="VARCHAR"/>
        <result column="field_1" property="field1" jdbcType="VARCHAR"/>
        <result column="field_2" property="field2" jdbcType="VARCHAR"/>
        <result column="field_3" property="field3" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="sysLogVoResultMap" type="com.bid.sys.model.result.SysLogVo" extends="BaseResultMap">
        <result column="dict_name" property="logTypeName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        log_id, user_id, login_name, create_date, log_type, log_flag, operate_code, request_param,
        execute_time, description, os, browser, ip, mac, field_1, field_2, field_3
    </sql>
    <sql id="Base_Column_List_Alias">
        l.log_id, l.user_id, l.login_name, l.create_date, l.log_type, l.log_flag, l.operate_code, l.request_param,
        l.execute_time, l.description, l.os, l.browser, l.ip, l.mac, l.field_1, l.field_2, l.field_3
    </sql>

    <!-- 查询日志列表 -->
    <select id="findLogPageCondition" resultMap="sysLogVoResultMap">
        SELECT
        <include refid="Base_Column_List_Alias"></include>
        , d.dict_name
        from
        sys_log l
        LEFT JOIN sys_dict d ON d.dict_code = l.log_type and d.dict_type = 'logType'
        <where>
            <if test=" condition.userId != null">
                and l.user_id = ${condition.userId}
            </if>
            <if test=" condition.loginName != null">
                and l.login_name like CONCAT('%','${condition.loginName}','%' )
            </if>
            <if test=" condition.operateCode != null">
                and l.operate_code like CONCAT('%','${condition.operateCode}','%' )
            </if>
            <if test=" condition.logType != null">
                and l.log_type in
                <foreach item="item" index="index" collection="condition.logType" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.createDateStart != null">
                <![CDATA[
            	and l.create_date >= #{condition.createDateStart}
           		]]>
            </if>
            <if test="condition.createDateEnd != null">
                <![CDATA[
            	and l.create_date <= #{condition.createDateEnd}
       			 ]]>
            </if>
        </where>
        <if test="pageInfo.sort != null and pageInfo.sort != ''">
            order by ${pageInfo.sort} ${pageInfo.order}
        </if>
    </select>

</mapper>