<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bid.sys.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysRole">
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="role_pid" property="rolePid" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_status" property="roleStatus" jdbcType="VARCHAR"/>
        <result column="role_level" property="roleLevel" jdbcType="VARCHAR"/>
        <result column="role_flag" property="roleFlag" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="role_seq" property="roleSeq" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="field_1" property="field1" jdbcType="VARCHAR"/>
        <result column="field_2" property="field2" jdbcType="VARCHAR"/>
        <result column="field_3" property="field3" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="sysRoleVoResultMap" type="com.bid.sys.model.result.SysRoleVo" extends="BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
	    role_id, role_pid, role_name, role_status, role_level, role_flag, icon, role_seq, 
	    description, field_1, field_2, field_3
	</sql>
    <sql id="Base_Column_List_Alias">
	    r.role_id, r.role_pid,r.role_name, r.role_status, r.role_level, r.role_flag, r.icon, r.role_seq, 
 		r.description, r.field_1, r.field_2, r.field_3
	</sql>

    <!-- 查询全部角色  -->
    <select id="findRoleAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        order by role_pid, role_seq
    </select>

    <!-- 通过UserId查询角色 -->
    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List_Alias"></include>
        from
        sys_user u
        LEFT JOIN sys_user_role ur ON ur.user_id = u.user_id
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        where u.user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <!-- 通过UserId查询角色Id、Name集合 -->
    <select id="findRoleIdAndNameByUserId" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT r.role_Id AS roleId, r.role_Name AS roleName
		FROM 
			sys_user u 
			JOIN sys_user_role ur ON u.user_id = ur.user_id JOIN sys_role r ON ur.role_id = r.role_id
		WHERE u.user_id = #{userId,jdbcType=VARCHAR}
	</select>

    <!-- 查找角色列表 -->
    <select id="findRolePageCondition" resultMap="sysRoleVoResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        <if test="pageInfo.sort != null and pageInfo.sort != ''">
            order by ${pageInfo.sort} ${pageInfo.order}
        </if>
    </select>

    <!-- 统计角色  -->
    <select id="findRolePageCount" resultType="java.lang.Integer" parameterType="PageInfo">
		select 
		count(*) count
		from sys_role
	</select>

</mapper>