<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bid.sys.mapper.SysRoleResourceMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysRoleResource">
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <id column="resource_id" property="resourceId" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通过RoleId删除-->
    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete from sys_role_resource
        where role_id = #{roleId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from sys_role_resource
        where role_id = #{roleId,jdbcType=VARCHAR}
        and resource_id = #{resourceId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.bid.sys.model.SysRoleResource">
        insert into sys_role_resource (role_id, resource_id)
        values (#{roleId,jdbcType=VARCHAR}, #{resourceId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bid.sys.model.SysRoleResource">
        insert into sys_role_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="resourceId != null">
                resource_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="resourceId != null">
                #{resourceId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


</mapper>