<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bid.sys.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysUser">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"/>
        <result column="user_level" property="userLevel" jdbcType="VARCHAR"/>
        <result column="user_flag" property="userFlag" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="login_count" property="loginCount" jdbcType="INTEGER"/>
        <result column="lastvisit_date" property="lastvisitDate" jdbcType="TIMESTAMP"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="field_1" property="field1" jdbcType="VARCHAR"/>
        <result column="field_2" property="field2" jdbcType="VARCHAR"/>
        <result column="field_3" property="field3" jdbcType="VARCHAR"/>
        <result column="field_4" property="field4" jdbcType="VARCHAR"/>
        <result column="field_5" property="field5" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="sysUserVoResultMap" type="com.bid.sys.model.result.SysUserVo" extends="BaseResultMap">
        <association property="sysOrg" javaType="com.bid.sys.model.SysOrg">
            <id column="org_id" property="orgId" jdbcType="VARCHAR"/>
            <result column="org_pid" property="orgPid" jdbcType="VARCHAR"/>
            <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
            <result column="org_address" property="orgAddress" jdbcType="VARCHAR"/>
            <result column="org_status" property="orgStatus" jdbcType="VARCHAR"/>
            <result column="org_type" property="orgType" jdbcType="VARCHAR"/>
            <result column="org_level" property="orgLevel" jdbcType="VARCHAR"/>
            <result column="icon" property="icon" jdbcType="VARCHAR"/>
            <result column="org_seq" property="orgSeq" jdbcType="INTEGER"/>
        </association>
        <!-- 延迟加载   -->
        <collection property="roleList" column="user_id" ofType="com.bid.sys.model.SysRole"
                    select="com.bid.sys.mapper.SysRoleMapper.findByUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
		user_id, login_name, password, salt, user_name, user_status, user_level, user_flag,
		org_id, sex, birth_date, phone, email, address, description, login_count, lastvisit_date,
		create_date, field_1, field_2, field_3, field_4, field_5
	</sql>
    <sql id="Base_Column_List_Alias">
		u.user_id, u.login_name, u.password, u.salt, u.user_name, u.user_status, u.user_level, u.user_flag,
		u.org_id, u.sex, u.birth_date, u.phone, u.email, u.address, u.description, u.login_count, u.lastvisit_date, u.create_date,
		u.field_1, u.field_2, u.field_3, u.field_4, u.field_5
	</sql>

    <!-- 通过用户Id查找用户信息 -->
    <select id="findUserVoById" resultMap="sysUserVoResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List_Alias"></include>
        , o.*
        from
        sys_user u
        left join sys_org o on o.org_id = u.org_id
        where u.user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <!-- 查询用户列表 -->
    <select id="findUserPageCondition" resultMap="sysUserVoResultMap">
        SELECT
        <include refid="Base_Column_List_Alias"></include>
        , o.*
        from
        sys_user u
        left join sys_org o on o.org_id = u.org_id
        <where>
            <if test=" condition.loginName != null">
                and u.login_name like CONCAT('%','${condition.loginName}','%' )
            </if>
            <if test=" condition.userName != null">
                and u.user_name like CONCAT('%','${condition.userName}','%' )
            </if>
            <if test=" condition.orgId != null">
                and u.org_id in
                <foreach item="item" index="index" collection="condition.orgId" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.createDateStart != null">
                <![CDATA[
            	and u.create_date >= #{condition.createDateStart}
           		]]>
            </if>
            <if test="condition.createDateEnd != null">
                <![CDATA[
            	and u.create_date <= #{condition.createDateEnd}
       			 ]]>
            </if>
        </where>
        <if test="pageInfo.sort != null and pageInfo.sort != ''">
            order by ${pageInfo.sort} ${pageInfo.order}
        </if>
    </select>

    <!-- 根据登录用户名查询用户 -->
    <select id="findUserByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where login_name = #{loginname}
    </select>

</mapper>