<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bid.sys.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.bid.sys.model.SysUserRole">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通过UserId删除 -->
    <delete id="deleteByUserId" parameterType="java.lang.String">
		delete from sys_user_role
		where user_id = #{userId,jdbcType=VARCHAR}
	</delete>

    <!-- 通过UserId查询角色Id集合 -->
    <select id="findRoleIdListByUserId" resultType="java.lang.String" parameterType="java.lang.String">
		select role_id AS roleId
		from sys_user_role
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from sys_user_role
        where user_id = #{userId,jdbcType=VARCHAR}
          and role_id = #{roleId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.bid.sys.model.SysUserRole">
        insert into sys_user_role (user_id, role_id)
        values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bid.sys.model.SysUserRole">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>